@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: "Fira Code", Courier, monospace;
  background: linear-gradient(90deg, #007d99 0%, #2231d6 100%);
}

button {
  cursor: pointer;
}
